# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
file_path = "../WeatherPy/output_data/cities.csv"
cities_df = pd.read_csv(file_path)
cities_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,nantucket,41.2835,-70.0995,24.80,68,1,3.44,US,1611624863
1,1,leh,34.1667,77.5833,-0.56,64,53,1.21,IN,1611624782
2,2,waddan,29.1614,16.1390,57.92,37,96,4.65,LY,1611625030
3,3,benito juarez,19.3850,-99.1650,66.20,42,75,14.97,MX,1611625030
4,4,nioro,13.3500,-15.7500,67.19,26,0,0.51,GM,1611624938
...,...,...,...,...,...,...,...,...,...,...
535,535,bundibugyo,0.7414,30.0417,68.25,82,87,3.53,UG,1611625109
536,536,derzhavinsk,51.1000,66.3167,24.46,98,100,10.71,KZ,1611625109
537,537,council bluffs,41.2619,-95.8608,24.80,86,90,12.66,US,1611624850
538,538,sept-iles,50.2001,-66.3821,34.00,60,100,9.22,CA,1611625023
539,539,tallahassee,30.4383,-84.2807,66.99,88,90,9.22,US,1611624916

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure